<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    Not yet Developed</h2>
                <div class="error-details">
                    Only Performance Evalution is Available as of Now
                </div>
                <div class="error-actions">
                    <a class="btn btn-primary btn-lg" (click)="sendHome()"><span
                            class="glyphicon glyphicon-home"></span>Take Me Home </a>
                </div>
            </div>
        </div>
    </div>
</div>