.header-side-menu-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    
}
.side-menu-and-body{
    
    display: flex;
    height: 100vh;
    flex: 1;
}
.side-nav-cont{
    
}
.main-content{
    flex: 1;
    overflow-x: hidden;
    background-color: #bcd6f0;
}
