<div class="side-nav-menu-container">
    <ul class="ul-menu-items">
        <li routerLinkActive="active"><a [routerLink]="'performance-evaluation/home'"><mat-icon>home</mat-icon></a></li>
        <li routerLinkActive="active"><a
                [routerLink]="'performance-evaluation/option-7'"><mat-icon>lightbulb_outline</mat-icon></a></li>
        <li routerLinkActive="active"><a
                [routerLink]="'performance-evaluation/option-6'"><mat-icon>school</mat-icon></a></li>
        <li routerLinkActive="active"><a [routerLink]="'performance-evaluation/option-5'"><mat-icon>poll</mat-icon></a>
        </li>
        <li routerLinkActive="active"><a
                [routerLink]="'performance-evaluation/option-4'"><mat-icon>contacts</mat-icon></a></li>
        <li routerLinkActive="active"><a
                [routerLink]="'performance-evaluation/option-3'"><mat-icon>emoji_events</mat-icon></a></li>
        <li routerLinkActive="active"><a [routerLink]="'performance-evaluation/option-2'">
                <mat-icon>calendar_month</mat-icon></a></li>
        <!-- for performance evaluation module -->
        <li routerLinkActive="active"><a [routerLink]="'performance-evaluation/dashboard'">
                <mat-icon>insights</mat-icon>
            </a></li>
    </ul>
</div>